@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap');

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Antic Didone", serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
